In [55]:
import pandas as pd 
import numpy as np
import sklearn
import matplotlib.pyplot as plt 
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [56]:
data = pd.read_csv('D:/Python praactice/data/train.csv', index_col='Id')

In [57]:
columns = []
for col in data:
  if data[col].isnull().any()==True:
    # print(col)
    columns.append(col)
print(columns)
for col in columns:
  data.drop([col], axis=1, inplace=True)

['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

In [58]:
data2= data[["LotArea", "YearBuilt", "OverallQual", "1stFlrSF", "2ndFlrSF", "SalePrice"]]
corr=data2.corr()
#corr.style.background_gradient(cmap='gray')

In [59]:
X = data2[["LotArea", "YearBuilt", "OverallQual", "1stFlrSF", "2ndFlrSF"]]
y = data2[['SalePrice']]

In [60]:
X_norm = X.copy()
y_norm = y.copy()

In [64]:
col: str = 'LotArea'
X_norm[col] = (data2[col] - data2[col].min()) / (data2[col].max() - data2[col].min())
for col in X_norm:
    X_norm[col] = (data2[col] - data2[col].min()) / (data2[col].max() - data2[col].min())
X_norm

       LotArea  YearBuilt  OverallQual  1stFlrSF  2ndFlrSF
Id
1     0.033420   0.949275     0.666667  0.119780  0.413559
2     0.038795   0.753623     0.555556  0.212942  0.000000
3     0.046507   0.934783     0.666667  0.134465  0.419370
4     0.038561   0.311594     0.666667  0.143873  0.366102
5     0.060576   0.927536     0.777778  0.186095  0.509927
...        ...        ...          ...       ...       ...
1456  0.030929   0.920290     0.555556  0.142038  0.336077
1457  0.055505   0.768116     0.555556  0.399036  0.000000
1458  0.036187   0.500000     0.666667  0.195961  0.557869
1459  0.039342   0.565217     0.444444  0.170721  0.000000
1460  0.040370   0.673913     0.444444  0.211565  0.000000

[1460 rows x 5 columns]

One Hot Encoding

In [66]:
from tkinter.messagebox import IGNORE
from sklearn.linear_model import LinearRegression
model = LinearRegression()
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False, handle_unknown=IGNORE)

In [67]:
X2 = data[['Neighborhood']]
X2
X_transf = ohe.fit_transform(X2)
X_new= pd.DataFrame(X_transf)
X_new

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Merge Df from OHE and Normalized Data

In [68]:
X_merged = pd.concat([X_norm, X_new], axis= 'columns')
X_merged

,LotArea,YearBuilt,OverallQual,1stFlrSF,2ndFlrSF,0,1,2,3,4,...,15,16,17,18,19,20,21,22,23,24
0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.033420,0.949275,0.666667,0.119780,0.413559,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.038795,0.753623,0.555556,0.212942,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.046507,0.934783,0.666667,0.134465,0.419370,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.038561,0.311594,0.666667,0.143873,0.366102,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,0.030929,0.920290,0.555556,0.142038,0.336077,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,0.055505,0.768116,0.555556,0.399036,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1458,0.036187,0.500000,0.666667,0.195961,0.557869,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1459,0.039342,0.565217,0.444444,0.170721,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1460,0.040370,0.673913,0.444444,0.211565,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN